<div class='container'>
  <div class='row'>
    <div class='column column-25'>
      <table>
        <tr>
          {{#link-to 'index'}}
          <td>Getting Started</td>
          {{/link-to}}
        </tr>

        <tr>
          {{#link-to 'marker'}}
            <td>Marker</td>
          {{/link-to}}
        </tr>

        <tr>
          {{#link-to 'directions'}}
            <td>Directions</td>
          {{/link-to}}
        </tr>
      </table>
    </div>
    <div class='column column-75'>
      {{outlet}}
    </div>
  </div>
</div>
