<div class="row card">
  <div class="col">
    {{#link-to 'index'}}
      Getting Started
    {{/link-to}}
  </div>
  <div class="col">
    {{#link-to 'marker'}}
      Marker
    {{/link-to}}
  </div>
  <div class="col">
    {{#link-to 'directions'}}
      Directions
    {{/link-to}}
  </div>
  <div class="col">
    {{#link-to 'client-location'}}
      Client Location
    {{/link-to}}
  </div>
</div>

<div class='row'>{{outlet}}</div>

